<!DOCTYPE html>
<html lang="ko">

<head>
  @@include('../../includes/head.html', { "title": "sub page", "path": "../.." })
</head>

<body>

<h1>Sub page</h1>
<ul>
  <li><a href="html/sub.html" target="_blank">sub page</a></li>
  <li><a href="html/sub1/sub1.html" target="_blank">sub1</a></li>
  <li><a href="html/sub1/sub2.html" target="_blank">sub2</a></li>
  <li><a href="html/examples/fontawesome.html" target="_blank"><i class="fa fa-home" aria-hidden="true"></i>fontawesome.html</a></li>
  <li><a href="html/examples/swiper.html" target="_blank">swiper.html</a></li>
  <li><a href="html/examples/xzoom.html" target="_blank">xzoom.html</a></li>
</ul>
        





</body>

</html>